<h3>Add New Recipe: </h3>
<form action="/recipes" method="post">
<Label> Recipe Name: </Label>
<input id="name" type="text" name="name" >
<Label> Recipe Ingredients: </Label>
<input id="ingredients" type="text" name="ingredients" >
<Label> Recipe Cook Time: </Label>
<input id="cook_time" type="text" name="cook_time" >
<input type="submit" id="submit">
</form>