<h1>Create a Recipe</h1>
<form action="/recipes" method="POST">
<p>Recipie Name: <input name="name"></p>
<p>Recipie Ingredients: <input name="ingredients"></p>
<p>Recipie Cook Time: <input name="cook_time"></p>
<input type="submit" id="submit" value="submit">
</form>
