<h1 style="color:red;">Recipe: <%= @recipe.name %></h1>
<h3 style="color:blue;">Cook Time: <%= @recipe.cook_time %></h3>
<p>Ingredients: <%= @recipe.ingredients %></p>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
